<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallsquare_plus.modules.user.infrastructure.mapper.UserMapper">

    <insert id="createUser"
            parameterType="com.smallsquare_plus.modules.user.domain.entity.User"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO users (username, password, nickname, email, name, is_active, role, created_at, updated_at)
        VALUES (#{username}, #{password}, #{nickname}, #{email}, #{name}, #{isActive}, #{role}, now(), now())
        RETURNING user_id
    </insert>

    <select id="existsByUsername" parameterType="string" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM users WHERE username = #{username}
        )
    </select>

    <select id="existsByNickname" parameterType="string" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM users WHERE nickname = #{nickname}
        )
    </select>

    <select id="existsByEmail" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM users WHERE email = #{email}
        )
    </select>

</mapper>